logs
project/project
project/target
target
.target
tmp
.history
dist
*.class
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
war/WEB-INF/appengine-generated/
*.launch
.cproject
.buildpath
.DS_Store
.settings/*